run = ["bash", "main.sh"]
language = "bash"
entrypoint = "main.sh"

[env]
DB_TYPE="mysql"
DB_HOST="aws.connect.psdb.cloud"
DB_PORT="3306"
DB_USER="orgq7cufafuhk2tyiwaz"
DB_PASS="pscale_pw_NjobzPLwDmC4FaVBxpMJYzkwaf9V9P2TrRyvTFsTm45"
DB_NAME="issacqin_sg"
DB_TABLE_PREFIX="alist_"
DB_SLL_MODE="true"
