run = ["bash", "main.sh"]
language = "bash"
entrypoint = "main.sh"

[env]
DB_TYPE="mysql"
DB_HOST="aws.connect.psdb.cloud"
DB_PORT="3306"
DB_USER="alist"
DB_PASS="password"
DB_NAME="issacqin_sg"
DB_TABLE_PREFIX="alist_"
DB_SLL_MODE="true"
